<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAgina do krl</title>
    <style>
        body {
    background-color: blueviolet;
}

header {
    background-color: burlywood;
    margin: auto;
    font-style: Arial;
    text-align: center;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
}

section {
    background-color: azure;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
    font-style: italic;
}
    </style>
</head>

<body>
    <header>Tenta injetar sql ai</header>
    <form action="/login" method="POST">
    <section>
        <p>Nome: <input type="text" name="nome" placeholder="Digite seu nome"></p>
        <p>Email: <input type="email" name="email" id="emailid" placeholder="Email"></p>
        <p>CPF: <input type="text" name="cpf" placeholder="___.___.___.__"></p>
        <p>Senha: <input type="text" name="senha" placeholder="Senha"> </p>
        <input type="submit" value="Enviar">
    </section>
    </form>
    <marquee>
        <h1> SALVE DO ITALOO</h1>
    </marquee>
</body>
</html>
